.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: 3px 10px 31px -28px rgba(125,125,125,0.59);
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 3px 10px 31px -18px rgba(89,89,89,1);
}
